
<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" style="--background: yellow;">
  <ul>
    <ion-button  shape=“round” color="dark" expand="block" [routerLink]="['/movies']"
    >war Movies</ion-button>
    <br>
    <ion-button   shape=“round” color="dark" expand="block" [routerLink]="['/most-popular']"
    >Most Popular Movies</ion-button>
    <br>
    <ion-button   shape=“round” color="dark" expand="block" [routerLink]="['/feedback']"
    >Give us your feedback</ion-button>

  </ul>

</ion-content>
